@import url('https://fonts.googleapis.com/css?family=poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: #0a1225;
}
.main-card{
    border: 1px solid #0a1225;
    border-radius: 10px;
    -moz-box-shadow: 0 0 81px rgba(0, 0, 0, 0.651)0;
    -webkit-box-shadow: 0 0 81px rgba(0, 0, 0, 0.651);
    box-shadow: 0 0 81px rgba(0, 0, 0, 0.651);
    background-color: #0a1225d2;
}
/* ********************************************* Navbar ********************************************************* */
.header{
    width: 100%;
    height: 750px;
    background-image:url('vecter/planet9.png');
    z-index: 100000;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width:820px){.header{
    background-size: 130% 100%;
    height: 60vh;
}}
@media screen and (max-width:768px){.header{
    background-size: 150% 100%;
    height: 65vh;
}}
@media screen and (max-width:600px){.header{
    background-image:url('vecter/planet.png');
    background-size: 180% 100%;
    height: 50vh;
    margin-bottom: -50px;
}}
.header::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to top,#0a1225,transparent);
    z-index: 11;
}
.vul{
    font-size:18px; 
    margin: 5px 10px; 
    background-color: transparent;
}
.nav-link{
    color: #fff !important;
    margin: 20px;
    border-radius: 20px;
    font-size: 1.0em;
    padding:2px;
}
.nav-link:hover,.act{
    background-color: #fff;
    color: #0a1225 !important;
}
@media screen and (max-width:600px) {.vlogo{
    height: 30px;
    width: 55px;
}}
@media screen and (max-width:600px) {.nav-link{
    font-size:12px; 
    margin: 5px;
}}
.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.header-section img{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    object-fit:cover;
    pointer-events: none;
    text-align: center;
    justify-content: center;
}
.header-section img#stars{
    justify-content: center;
    mix-blend-mode:color-dodge;
    margin-top: -200px;
    height: 100%;
}
.header-section img#comet_front{
    /* margin-right: -150px; */
    transform:rotate(65deg);
    -ms-transform:rotate(65deg); /* IE 9 */
    -webkit-transform:rotate(65deg); /* Safari and Chrome */
    mix-blend-mode: color-dodge;
    margin-top: 10px;
}

@media screen and (max-width:820px){#comet_front{
    width: max-content;
    height: max-content;
    /* right: -630px;*/
    top: -150px; 
}}


/* .header-section img#planet{
    z-index: 10;
    width: 100%;
    height: 60vh;

} */
#text{
    position: absolute;
    color: #fff;
    font-size: 55px;
    white-space:nowrap;
    z-index: 12;
    top: 25%;
    left: 35%;
}
/* @media screen and (max-width:820px){#planet{
    
}}
@media screen and (max-width:768px){#planet{
   
}}
@media screen and (max-width:600px){#planet{
   width: inherit;
   height: 60vh;
}} */
@media screen and (max-width:820px){#text{
    font-size: 68px;
    top: 25%;
    left: 20%;
}}
@media screen and (max-width:768px){#text{
    font-size: 58px;
    top: 25%;
    left: 25%;
}}
@media screen and (max-width:600px){#text{
    font-size: 38px;
    font-weight: bold;
    top: 20%;
    left: 15%;
}}
/* ********************************** first section start here */
.first-txt{
    margin-top:80px;
    width: 100%;
    height:fit-content;
    background-color: #0a1225;
    justify-content: center;
    align-items: center;
}
.first-txt-section{
    width: 100%;
    padding: 100px;
    height: inherit;
    color: white;
    display: inline-flexbox;
    text-align: center;
    position: relative;
}
.first-txt-section h1{
    font-size: 50px;
}
.txt-buttons a{
    margin-top: 20px;
    cursor: pointer;
    outline: none;
}
@media screen and (max-width:820px) {.first-txt-section{
    padding: 50px;
}}
@media screen and (max-width:768px) {.first-txt-section{
    padding: 50px;
}}
@media screen and (max-width:600px) {.first-txt-section{
    padding: 20px;
}}
@media screen and (max-width:600px) {.first-txt-section h1{
    font-size: 38px;
    margin-bottom: 20px;
}}
@media screen and (max-width:820px) {.firstimg{
    height: 154px;
    width: 224px;
}}
@media screen and (max-width:768px) {.firstimg{
    height: 124px;
    width: 180px;
}}
@media screen and (max-width:600px) {.firstimg{
    height: 154px;
    width: 224px;
}}
@media screen and (max-width:820px) {.txt-buttons img{
    height: 40px;
    width: 100px;
}}
@media screen and (max-width:768px) {.txt-buttons img{
    height: 35px;
    width: 100px;
}}
/********************************** Download section here */
.screen-section{
    height:fit-content;
    width: 100%;
    padding: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.screen-row{
    align-items: center;
}
.screen-p{
    color: #fff;
}
@media screen and (max-width:600px) {.screen-row h1{
    font-size: 28px;
}}
@media screen and (max-width:600px) {.header-buttons a img{
    height: 35px;
    width: 100px;
}}
/* ********************************** features section here */
.fea-outcontainer{
    display: flex;
    align-items: center;
}
.horizontal-scroll{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.scroll-button{
    background-color: rgba(255, 255, 255, 0);
    color: salmon;
    font-size: 40px;
    border: 0;
    height: 60px;
    width: 60px;
    outline:none;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}
.fea-container{
    display: flex;
    justify-content: flex-start;
    margin: 0 0px;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 0;
    transition: 0.5s all ease-out;
}
.fea-box{
    width: 270px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    border: none;
    margin: 10px;
    outline: none;
    background-color: #0a1225;
    box-shadow: -8px 8px 89px -55px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -38px 38px 8px -85px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -8px 8px 89px -55px rgba(0, 0, 0, 0.75);
}
.card h4{
    color: white;
}
.card p{
    color: rgb(255, 255, 255);
}

.circle{
    height: 70px;
    width: 70px;
    background-color: white;
    color:#0a1225;
    padding: 12px;
    display: inline-block;
    margin-bottom: 30px;
    font-size: 30px;
    border-radius: 50%;
}
.card:hover .circle{
    background-color: #0a1225;
    color: white;
    transition: 0.5s;
}
/* ****************** contact section **************************************** */
.contact-section{
    padding: 100px;
    text-align: center;
}
.inner-width{
    text-align: center;
    align-items: center;
    justify-content:center ;
}
.contact-section h1{
    font-size: 28px;
    color: #fff;
    margin-bottom: 50px;
    font-weight: 400;
}
.name,.email,.message{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    color: #888;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
}
.name{
    float: left;
    width: 350px;
}
.email{
    float: right;
    width: 350px;
}
.message{
    min-width: 100%;
    max-width: 100%;
}
.conbtn{
    background: none;
    color: #fff;
    border: 1px solid;
    padding: 12px 40px;
    border-radius:100px ;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    transition: 0.4s linner;
    cursor: pointer;
}
.conbtn:hover{
    border: 1px solid rgb(247, 172, 60) ;
    color: rgb(247, 172, 60);
}
@media screen and (max-width:600px){.contact-section{
    padding: 30px;
}}
@media screen and (max-width:820px){.name,.email{
    width: 100%;
}}
@media screen and (max-width:768px){.name,.email{
    width: 100%;
}}
@media screen and (max-width:600px){.name,.email{
    width: 100%;
}}
@media screen and (max-width:600px) {.geth1,.vmh1,.wch1{
    font-size: 28px;
}}
/* **************************** footer */
.social-media{
    display: flex;
    list-style: none;
    font-size: 32px;
    margin-bottom: 20px;
}
.social-media a{
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
}
.footercl{
    background-color: #000511;
    height:fit-content;
    display: inline-flexbox;
    text-align: center;
    position: relative;
    padding: 50px;
    justify-content: center;
    z-index: 1000;
}
.footercon{
    justify-content: center;
    padding: 20px;
}
.links a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* **************************************************************************************** */
#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 1001; 
    border:none; 
    outline: none; 
    background-color: rgba(168, 222, 230, 0); 
    color: rgba(3, 104, 134, 0.815); 
    cursor: pointer;
    padding: 15px; 
    border-radius:5%; 
    font-size: 35px; 
  }
  #myBtn:hover {
    box-shadow: none;
  }



  
