@import url('https://fonts.googleapis.com/css?family=poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: #0a1225;
}
.main-card{
    border: 1px solid #0a1225;
    border-radius: 10px;
    -moz-box-shadow: 0 0 81px rgba(0, 0, 0, 0.651)0;
    -webkit-box-shadow: 0 0 81px rgba(0, 0, 0, 0.651);
    box-shadow: 0 0 81px rgba(0, 0, 0, 0.651);
    background-color: #0a1225d2;
}
/* ************************************** Header start here ****************/
.header{
    width: 100%;
    height: 700px;
    background-color: #0a1225;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width:820px){.header{
    height: 45vh;
}}
@media screen and (max-width:768px){.header{
    height: 50vh;
}}
@media screen and (max-width:600px){.header{
    height: 40vh;
}}
.vul{
    font-size:18px; 
    margin: 5px 10px; 
    background-color: transparent;
}
.nav-link{
    color: #fff !important;
    margin: 20px;
    border-radius: 20px;
    font-size: 1.0em;
    padding:2px;
}
.nav-link:hover,.act{
    background-color: #fff;
    color: #0a1225 !important;
}
@media screen and (max-width:600px) {.vlogo{
    height: 30px;
    width: 55px;
}}
@media screen and (max-width:600px) {.nav-link{
    font-size:12px; 
    margin: 5px;
}}
.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.header-section img{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    object-fit:cover;
    pointer-events: none;
    text-align: center;
    justify-content: center;
}
.header-section img#stars{
    justify-content: center;
    mix-blend-mode:color-dodge;
    /* margin-top: -200px; */
    height: 100%;
}
#text{
    position: absolute;
    color: #fff;
    font-size: 75px;
    white-space:nowrap;
    z-index: 12;
    top: 25%;
    left: 35%;
}
@media screen and (max-width:820px){#text{
    font-size: 68px;
    top: 25%;
    left: 25%;
}}
@media screen and (max-width:768px){#text{
    font-size: 58px;
    top: 25%;
    left: 30%;
}}
@media screen and (max-width:600px){#text{
    font-size: 48px;
    top: 20%;
    left: 13%;
}}
/* ************************************** whitepaper div section start here */
.sec{
    position: relative;
    /* padding: 100px; */
    background: #0a1225;
    margin-bottom: 50px;
}
.sec h2{
    font-size: 2.5em;
    margin: 20px 0;
    color: #fff;
}
.sec h3{
    font-size: 2.0em;
    margin-bottom: 10px;
    color: #fff;
}
.sec h4{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p{
    font-size: 1.0em;
    color: #fff;
}
.sec ul{
    color: white;
    margin-left: 50px;
    list-style: none;
}
/********************************** Download section here */
.screen-section{
    height:fit-content;
    width: 100%;
    padding: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.screen-row{
    align-items: center;
}
.screen-p{
    color: #fff;
}
@media screen and (max-width:600px) {.screen-row h1{
    font-size: 28px;
}}
@media screen and (max-width:600px) {.header-buttons a img{
    height: 35px;
    width: 100px;
}}
/* **************************** footer */
.social-media{
    display: flex;
    list-style: none;
    font-size: 32px;
    margin-bottom: 20px;
}
.social-media a{
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
}
.footercl{
    background-color: #000511;
    height:fit-content;
    display: inline-flexbox;
    text-align: center;
    position: relative;
    padding: 50px;
    justify-content: center;
    z-index: 1000;
}
.footercon{
    justify-content: center;
    padding: 20px;
}
.links a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
/* **************************************************************************************** */
#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 15px; 
    z-index: 1001; 
    border:none; 
    outline: none; 
    background-color: rgba(168, 222, 230, 0); 
    color: rgba(3, 104, 134, 0.815); 
    cursor: pointer;
    padding: 15px; 
    border-radius:5%; 
    font-size: 35px; 
}
#myBtn:hover {
    box-shadow: none;
}
